/* -------------------------------------/
/--- 1. IMPORT
/ -----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*________________________________*/
/*    1. ROOT
________________________________*/
:root {
/* ________________________________________
font family */
   --ff-titles: 'Anton', sans-serif;
   --ff-body: 'Rubik', sans-serif;
/* _______________________________________
font size */
   --fs-small: calc(8px + .2vw);
   --fs-medium: calc(10px + .2vw);
   --fs-big: calc(117px + 7vw);
   --fs-body: calc(18px + 1.7vw);
   --fs-h1: calc(40px + 1vw);
   --fs-h2: calc(31px + .4vw);
   --fs-h3: calc(18px + .3vw);
   --fs-h4: calc(14px + .4vw);
/* ________________________________________
colors */
   /* --c-bg: #00808b; */
   --c-bg: #c7c7c7;
   --c-bg-nav: #1f1f1f;
   --c-svg-title: #1f1f1f;
   --c-svg-brand: #e4fc5e;

   --c-white: #fafafa;
   --c-grey-light: #e6e6e6;
   --c-grey: rgba(128, 128, 128, 0.897);
   --c-grey-dark: #3a3a3a;
   --c-black: #1f1f1f;

   --c-1: #e4fc5e;
   --c-2: #ff4a8c;
   --c-3: #b1afafa9;
/* ________________________________________
transitions & animation */
   --trans-bg-color: background-color .4s, color .4s;
   --anim-slide-down: slide-down 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   --anim-slide-right: slide-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
/* ________________________________________
shadow, margin, padding */
   --margin: 1rem;
   --padding: 1rem;
   --bs: 0px 0px 25px rgba(0,0,0, 2);
   --ts-white: 3px 3px 3px #fbffc173;
   --ts-black: 5px 5px 5px #00000088;
}


/*________________________________*/
/*    2. RESET CSS
________________________________*/
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: var(--c-grey-light);
}
::-webkit-scrollbar {
   width: 13px;
   background-color: var(--c-grey-light);
}
::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
   box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
   background-color: var(--c-black);
}
*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}
html {
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   scroll-behavior: smooth;
}
body {
   font-family: var(--ff-body);
   font-size: var(--fs-body);
   background-color: var(--c-bg);
   color: var(--c-black);
   height: 500vh;
}
a {
   text-decoration: none;
   color: inherit;
   transition: 0.5s;
}
a.hover-item {
   text-decoration: none;
   color: var(--c-black);
   background:
   linear-gradient( 90deg, rgb(0, 0, 0)  50%, #fff 0),
   linear-gradient(-90deg, #000  50%, #fff 0),
   linear-gradient( 90deg, #0000 50%, var(--c-1) 0),
   linear-gradient(-90deg, #0000 50%, var(--c-1) 0);
   background-repeat: no-repeat;
   background-size: 200% 51%;
   background-position: top left, bottom right;
   -webkit-background-clip: text, text, padding-box, padding-box;
            background-clip: text, text, padding-box, padding-box;
   transition: 0.5s;
   padding: 0 2rem;
}
a.hover-item:hover, a.hover-item:active {
   color: var(--c-black);
   background-position: top right, bottom left;
}
ul,
ol,
li {
   list-style: none;
}
img {
   max-width: 100%;
   vertical-align: middle;
}
strong {
   font-weight: 800;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
input::placeholder {
   font: inherit;
}
h1,
h2,
h3,
h4 {
   font-family: var(--ff-titles);
}
h1 {
   font-size: var(--fs-h1);
   line-height: 1;
}
h2 {
   font-size: var(--fs-h2);
}
h3 {
   font-size: var(--fs-h3);
}
h4 {
   font-size: var(--fs-h4);
}


/*________________________________*/
/*    3. REUSABLE CLASSES
________________________________*/
.container {
   margin: var(--margin);
}
.wrapper {
   padding: var(--padding);
}
.flex-item {
   display: flex;
}
.flex-wrap {
   display: flex;
   flex-wrap: wrap;
}
.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-between {
   display: flex;
   justify-content: space-between;
}
.flex-around {
   display: flex;
   justify-content: space-around;
}
.flex-end {
   display: flex;
   align-items: flex-end;
}
.flex-start {
   display: flex;
   align-items: flex-end;
}
.left {
   display: flex;
   left: 0;
   justify-content: left;
}
.right {
   display: flex;
   right: 0;
   justify-content: right;
}
.flex-column {
   display: flex;
   flex-direction: column;
}
.icon-small {
   font-size: 1.25em;
}
.icon-large {
   font-size: 1.65em;
}
.desktop-hide {
   display: none;
}


/*________________________________*/
/*    4.SVG AND DINAMIC ITENS
________________________________*/
#svg-title {
   width: 100vw; height: 100%;
   display: flex;
   flex-direction: center;
   justify-content: center;
   margin: 1rem 0;
}
svg.big-title {
   position: relative;
   margin: 0 auto;
   width: 100vw; height: fit-content;
}
svg.big-title path {
   position: absolute;
}
svg.big-title path.letter-L {
   position: absolute;
}
#cursor-ball{
   z-index: 9999;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 0;
   left: 0;
   border: 3px solid var(--c-2);
   border-radius: 50%;
   pointer-events: none;
}


/*________________________________*/
/*    4.HEADER
________________________________*/

/************* navigation */
/***** btn open */
#btn-open {
   z-index: 888;
   position: fixed;
   bottom: 3rem; right: var(--margin);
}
#btn-open a {
   z-index: 888;
   text-transform: uppercase;
   font-size: var(--fs-h4);
   color: var(--c-black);
   background-color: var(--c-1);
   border: 1px solid var(--c-black);
   width: 6.7rem;
   height: 2.7rem;
   cursor: pointer;
   width: 107px; height: 45px;
   border-radius: 12px;
}
#btn-open a:hover {
   color: var(--c-black);
   background-color: var(--c-2);
   transition: var(--trans-bg-color);
   background-size: 0;
}
/************* navigation */
/***** off canvas */
nav {
   top: 0; left: 0;
   overflow: hidden;
   transition: 0.5s;
   z-index: 999;
   position: fixed;
   width: 100vw; height: 0;
   background: var(--c-bg-nav);
}
nav a {
   color: var(--c-bg);
}
nav #off-canvas {
   width: 80%; height: 100%;
}
#brand {
   position: absolute;
   margin: var(--margin);
   width: 110px; height: 50px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#brand svg .brand-off-canvas {
   width: 550px; height: 60px;
   padding: 0 1rem;

}
nav #btn-close a {
   z-index: 999;
   font-size: var(--fs-h2);
   color: var(--c-bg);
   background-color: transparent;
   transition: var(--trans-bg-color);
   cursor: pointer;
   background-size: 0;
   top: 45%; right: 1rem;
   position: absolute;
}
nav #btn-close a:hover {
   color: var(--c-2);
}
nav ul.menu-list {
   width: 100%; height: 100vh;
   gap: 20px;
}
nav ul.menu-list li a {
   font-size: var(--fs-h1);
   text-align: center;
   text-transform: uppercase;
   color: var(--c-bg);
}
nav ul.social-list {
   position: relative;
   top: 4rem;
   gap: .5rem;
   width: 100%;
   text-transform: uppercase;
}
nav ul.social-list .icon-link {
   font-size: 15px;
   display: inline-flex;
   text-decoration: none;
   width: 3.1rem;
   height: 3.1rem;
   transition: .3s linear;
   position: relative;
   z-index: 1;
   margin: auto
}
nav ul.social-list .icon-link:hover {
   color: var(--c-bg-nav);
   background-size: 0;
   font-weight: 400;
 }
nav ul.social-list .icon-link i {
   margin: auto;
 }
nav ul.social-list .icon-link::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 3rem;
   height: 3rem;
   background: #000;
   border-radius: 50%;
   z-index: -1;
   transform: scale(0);
   transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
nav ul.social-list .icon-link:hover::before {
   transform: scale(1);
}
nav ul.social-list .icon-item:nth-child(1) a:hover:before {
   background: var(--c-2);
}
nav ul.social-list .icon-item:nth-child(2) a:hover:before {
   background: var(--c-2);
}
nav ul.social-list .icon-item:nth-child(3) a:hover:before {
   background: var(--c-2);
}


.tx-scroll-white {
   position: relative;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   font-size: var(--fs-h3);
   text-transform: uppercase;
   background-color: var(--c-1);
   font-weight: 400;
   display: flex;
   flex-wrap: nowrap;
   width: 120%;
   margin: var(--margin) 0 .5rem 0;
   padding: .2rem;
   width: 500%;
}
.tx-scroll-black {
   position: relative;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   font-size: var(--fs-h3);
   text-transform: uppercase;
   background-color: var(--c-black);
   font-weight: 400;
   display: flex;
   flex-wrap: nowrap;
   width: 120%;
   margin: .3rem 0;
   padding: .2rem;
   width: 500%;
}
.tx-scroll-black p {
   color: white;
}

.header-title {
   padding-top: 11rem;
   padding-left: 2.5rem;
}
.header-title h1 {
   padding-bottom: 2rem;
}
.header-title p {
   padding-bottom: 1rem;
   line-height: 2rem;
}


/*________________________________*/
/*    MEDIA QUERY
________________________________*/
@media screen and (max-width: 400px) {
   nav ul.menu-list li {
      font-size: var(--fs-h2);
   }
}
@media screen and (min-width: 767px) {
   #btn-open {
      top: 1.1rem; right: 1.6rem;
   }
   nav #btn-close a {
      top: 45%; right: 2.4rem;
   }
}


/*________________________________*/
/*    KEYFRAMES
________________________________*/
@-webkit-keyframes slide-down {
   0% {
      -webkit-transform: translatey(-50px);
      transform: translatey(-50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}
@keyframes slide-down {
   0% {
      -webkit-transform: translatey(-8px);
      transform: translatey(-8px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}


@-webkit-keyframes slide-down {
   0% {
      -webkit-transform: translatey(-50px);
      transform: translatey(-50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}
@keyframes slide-down {
   0% {
      -webkit-transform: translatey(-8px);
      transform: translatey(-8px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
      opacity: 1;
   }
}
